-- AMDAKO STRATEGIES - ADD INVESTMENT FIELDS
-- Run this AFTER the initial schema migrations

-- 1. Add investment fields to profiles
alter table public.profiles
  add column if not exists address text,
  add column if not exists location text,
  add column if not exists state_of_origin text,
  add column if not exists monthly_roi numeric(5, 2) default 10.00,
  add column if not exists investment_amount numeric(12, 2) default 0;

-- 2. Add monthly_roi to agreements
alter table public.agreements
  add column if not exists monthly_roi numeric(5, 2) default 10.00;

-- 3. Add monthly_roi to investments
alter table public.investments
  add column if not exists monthly_roi numeric(5, 2) default 10.00;

-- 4. Update handle_new_user trigger to include new fields
create or replace function public.handle_new_user()
returns trigger
language plpgsql
security definer
as $$
begin
  insert into public.profiles (
    id, full_name, first_name, last_name, email, phone,
    address, location, state_of_origin, monthly_roi, investment_amount
  )
  values (
    new.id,
    new.raw_user_meta_data->>'full_name',
    new.raw_user_meta_data->>'first_name',
    new.raw_user_meta_data->>'last_name',
    new.email,
    new.raw_user_meta_data->>'phone',
    new.raw_user_meta_data->>'address',
    new.raw_user_meta_data->>'location',
    new.raw_user_meta_data->>'state_of_origin',
    10.00,
    coalesce((new.raw_user_meta_data->>'investment_amount')::numeric, 0)
  );
  return new;
end;
$$;

-- 5. Seed default products
insert into public.products (name, description, category, price, roi, min_investment, is_active)
values
  ('Amdako Growth Plan', 'Steady monthly returns with a 10% ROI on your investment.', 'Growth', 100000, '10% monthly', 50000, true),
  ('Amdako Premium Plan', 'Premium investment plan with enhanced returns and priority support.', 'Premium', 500000, '10% monthly', 250000, true),
  ('Amdako Executive Plan', 'Executive-level investment strategy for high-net-worth investors.', 'Executive', 1000000, '10% monthly', 500000, true)
on conflict do nothing;